body
  margin: 0
  background: #343233

.container
  max-width: 1200px
  text-align: center
  margin: 0 auto
  padding: 0 3rem

  @media screen and (max-width: 580px)
    padding: 0 2rem

  h1
    font-size: 54px
    color: #ffd152
  
  h2
    font-size: 42px
    color: #8d8273

  h3
    font-size: 28px
    color: #8d8273

  h4
    font-size: 20px
    color: #8d8273
    font-weight: 400
    margin-bottom: 0
  
  p 
    margin: 20px 0
    color: #8d8273
    line-height: 24px
  
  img
    margin: 20px 0
    width: 100%
  
  button
    outline: none
    border: none
    margin: 18px 0
    padding: 20px 40px
    background: #ffd152
    color: #282627
    letter-spacing: 2px
    font-weight: 800
    text-transform: uppercase

  i
    font-size: 42px
    letter-spacing: 14px





   
    
